extends layout

block content
  h1= title
  p Interested in learning more about how this works, or how we use it to write the #[a(href='https://make.wordpress.org/core/tag/week-in-core/') Week in Core] blog posts?
  p Join #[a(href='https://wordpress.slack.com/messages/core-weekly-update/') #core-weekly-update] on Making WordPress on Slack and ping @morganestes.

  form(action='/trac',method='post')
    ul
      li
        label(for='stopRevision') Oldest Commit Number:
          input(
          type='number'
          name='stopRevision'
          id='stopRevision'
          value=36000
          )
      li
        label(for='startRevision') Newest Commit Number:
          input(
          type='number'
          name='startRevision'
          id='startRevision'
          value=36118
          )
      li
        button(type='submit') Get logs

  div #{markup}
